[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
objexplore = "*"
pandas = "*"
scikit-learn = "*"
tensorflow = "*"

[dev-packages]
tensorboard = "*"
tensorflowjs = "*"

[requires]
python_version = "3.11"
